In [1]:
import requests
import pandas as pd
import pymongo

In [2]:
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

In [3]:
db = client.USPoliceShootingData
collection = db.PoliceShootingData

In [4]:
datapath = 'data/USPoliceShootings15-22.csv'

shooting_data = pd.read_csv(datapath)
shooting_data

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
0,1,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True
1,2,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True
2,3,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True
3,4,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
4,5,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7724,7725,NaN,2022-09-07,shot,screwdriver,NaN,M,NaN,Flagstaff,AZ,False,other,Foot,False,-111.584,35.224,True
7725,7726,NaN,2022-09-07,shot,gun,NaN,M,W,Springville,AL,False,attack,Car,False,-86.472,33.775,True
7726,7727,NaN,2022-09-07,shot,knife,61.0,M,B,St. Louis,MO,False,other,Not fleeing,False,-90.290,38.668,True
7727,7728,Tyler Michael Gardner,2022-09-07,shot,gun,27.0,M,NaN,Washington County,TN,False,attack,Other,False,-82.539,36.309,True
7728,7729,Reginald Lamont Grant,2022-09-07,shot,gun,30.0,M,NaN,Columbus,GA,False,attack,Foot,False,NaN,NaN,True

In [5]:
cleaneddata = shooting_data.drop(['signs_of_mental_illness', 'threat_level', 'manner_of_death', 'id'], axis=1)
cleaneddata.head()

,name,date,armed,age,gender,race,city,state,flee,body_camera,longitude,latitude,is_geocoding_exact
0,Tim Elliot,2015-01-02,gun,53.0,M,A,Shelton,WA,Not fleeing,False,-123.122,47.247,True
1,Lewis Lee Lembke,2015-01-02,gun,47.0,M,W,Aloha,OR,Not fleeing,False,-122.892,45.487,True
2,John Paul Quintero,2015-01-03,unarmed,23.0,M,H,Wichita,KS,Not fleeing,False,-97.281,37.695,True
3,Matthew Hoffman,2015-01-04,toy weapon,32.0,M,W,San Francisco,CA,Not fleeing,False,-122.422,37.763,True
4,Michael Rodriguez,2015-01-04,nail gun,39.0,M,H,Evans,CO,Not fleeing,False,-104.692,40.384,True

In [6]:
cleaneddata.dropna()
cleaneddata

,name,date,armed,age,gender,race,city,state,flee,body_camera,longitude,latitude,is_geocoding_exact
0,Tim Elliot,2015-01-02,gun,53.0,M,A,Shelton,WA,Not fleeing,False,-123.122,47.247,True
1,Lewis Lee Lembke,2015-01-02,gun,47.0,M,W,Aloha,OR,Not fleeing,False,-122.892,45.487,True
2,John Paul Quintero,2015-01-03,unarmed,23.0,M,H,Wichita,KS,Not fleeing,False,-97.281,37.695,True
3,Matthew Hoffman,2015-01-04,toy weapon,32.0,M,W,San Francisco,CA,Not fleeing,False,-122.422,37.763,True
4,Michael Rodriguez,2015-01-04,nail gun,39.0,M,H,Evans,CO,Not fleeing,False,-104.692,40.384,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7724,NaN,2022-09-07,screwdriver,NaN,M,NaN,Flagstaff,AZ,Foot,False,-111.584,35.224,True
7725,NaN,2022-09-07,gun,NaN,M,W,Springville,AL,Car,False,-86.472,33.775,True
7726,NaN,2022-09-07,knife,61.0,M,B,St. Louis,MO,Not fleeing,False,-90.290,38.668,True
7727,Tyler Michael Gardner,2022-09-07,gun,27.0,M,NaN,Washington County,TN,Other,False,-82.539,36.309,True
7728,Reginald Lamont Grant,2022-09-07,gun,30.0,M,NaN,Columbus,GA,Foot,False,NaN,NaN,True

In [7]:
nulldropped = cleaneddata.dropna()
nulldropped

,name,date,armed,age,gender,race,city,state,flee,body_camera,longitude,latitude,is_geocoding_exact
0,Tim Elliot,2015-01-02,gun,53.0,M,A,Shelton,WA,Not fleeing,False,-123.122,47.247,True
1,Lewis Lee Lembke,2015-01-02,gun,47.0,M,W,Aloha,OR,Not fleeing,False,-122.892,45.487,True
2,John Paul Quintero,2015-01-03,unarmed,23.0,M,H,Wichita,KS,Not fleeing,False,-97.281,37.695,True
3,Matthew Hoffman,2015-01-04,toy weapon,32.0,M,W,San Francisco,CA,Not fleeing,False,-122.422,37.763,True
4,Michael Rodriguez,2015-01-04,nail gun,39.0,M,H,Evans,CO,Not fleeing,False,-104.692,40.384,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7473,Daniel Raymond Honeycutt,2022-06-10,gun,38.0,M,W,Elizabethton,TN,Not fleeing,False,-82.155,36.335,True
7492,Derrick D. Clark,2022-06-18,gun,24.0,M,B,Milwaukie,OR,Car,False,-122.609,45.436,True
7500,Frank Baty,2022-06-19,toy weapon,58.0,M,B,Albuquerque,NM,Not fleeing,False,-106.649,35.085,True
7691,Samuel Paul Ranson,2022-08-27,gun,50.0,M,W,Charleston,WV,Not fleeing,False,-81.586,38.334,True
7702,Donovan Lewis,2022-08-30,unarmed,20.0,M,B,Columbus,OH,Not fleeing,True,-83.087,39.943,True

In [14]:
collection.insert_many(nulldropped.to_dict('records'))